.pad {
    margin: 10% 20% 20% 20%;
    padding: 10px;
}
.main-title {
    background-color: cornflowerblue;
    margin-top: 5%;
}
.snd-btn {
    margin-left: 5px;
}
.field-gap {
    margin-top: 5px;
}